/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(170, 167, 152);
}